*{
    display: flex;
}

p, span{
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 30px;
    margin-top: 35px;
} 
.bi-geo-alt-fill{
    font-size: 25px;
    padding-right: 5px;
}
span{
    font-size: 22px;
}
.date{
    font-size: 15px;
}