table{
    display: flex;
    align-items: center;
    justify-content: center;

    img{
        width: 40px;
    }

    tr{
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 10px;
    }

    hr{
        color: white;
        height: 8rem;
        margin: 1.5rem;
    }

}

