 <main>
  <table>
    <ng-container *ngFor="let forecast of getList(); let isLast = last">
      <tr>
        <td>{{getWeekdayAndDate(forecast)}}</td>
        <td>
          <img [src]="getIcon(forecast)" />
        </td>
        <td>
          <div>{{ getTemp(forecast) }}</div>
        </td>
        <td>
          <div>{{ getRain(forecast) }}</div>
        </td>
        <td>
          <div>{{ wind(forecast)}}</div>
        </td>
      </tr>
      <hr *ngIf="!isLast">
    </ng-container>
  </table>
</main> 