table {
    display: flex;
    align-items: center;
    justify-content: center;

    img {
        width: 60px;
    }

    tr {
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 13px;
    }

    hr {
        color: white;
        height: 11rem;
        margin: 1.5rem;
    }

}