 <main>
  <table>
    <ng-container *ngFor="let forecast of getList(); let isLast = last">
      <tr>
        <td>
          {{getWeekdayAndDate(forecast)}}
        </td>
        <td>
          <img [src]="getIcon(forecast)" />
        </td>
        <td>
          {{ getTemp(forecast) }}
        </td>
        <td>
          {{ getRain(forecast) }}
        </td>
        <td>
          {{ wind(forecast) }}
        </td>
      </tr>
      <hr *ngIf="!isLast">
    </ng-container>
  </table>
</main> 