<div class="container">
    
    <p class="clear" style="margin-top: 40px;">{{ getForecastDescription() }}</p>
    <div class="dateTime">
        <h1>{{ getTemperature() }}</h1>
        <h3 class="celcios">°C</h3>
        
    </div>
    <div style="display: flex; margin-bottom: 40px;">
        <img src="./assets/iconsClima/clear_day.svg" style="height: 30px; width: 30px; margin: 0; flex-direction: row;" alt=""><a class="clear" style="margin: 0;"> {{ nascer() }} - </a><img src="./assets/iconsClima/clear_night.svg" style="height: 30px; width: 30px; margin: 0; flex-direction: row;" alt=""><a class="clear" style="margin: 0;"> {{ por() }}</a>
    </div>
</div> 