.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.clear,
h1,
.celcius {
    color: var(--color);
}

.clear {
    margin-top: 4rem;
    font-size: 23px;
}

.sunset{
    height: 30px; 
    width: 30px; 
    margin: 0;
    flex-direction: row;
}
.celcius {
    height: 20px;
    width: 20px;
    margin-left: 15px;
    font-size: 25px;
}

.dateTime {
    display: flex;
    flex-direction: row;
}

h1 {
    margin: 0;
    font-size: 110px;
    margin-bottom: 3rem;
    margin-left: 2rem;
}

.bi-brightness-alt-high-fill{
    color: yellow;
}