/* You can add global styles to this file, and also import other style files */
body{
    background-color: #2E6BC7;

    &.dark-mode{
        background-color: rgb(7, 6, 6);
    }
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
